body {
    background-image: url(/images/snapedit_1737262735978.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -12px;
}

#main-body {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
}

.canhan {
    border-radius: 10px;
    border: 1px solid black;
    width: 300px;
    height: 530px;
    padding: 20px;
    margin: auto 20px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.canhan img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
    background-size: cover;
}

.thongtin {
    font-size: 20px;
    margin-top: 15px;
}

.thongtin p {
    padding-bottom: 5px;
}

.cn1 {
    animation: up 1s linear;
}

.cn2 {
    animation: up 1s linear;
}

.cn3 {
    animation: up 1s linear;
}

.cn4 {
    animation: up 1s linear;
}

@keyframes up {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}

